<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed Materials - Property of IBM
 5725E28, 5725I03
 © Copyright IBM Corp. 2011, 2015
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.xtify.mce.sdk.displayweb"
version="3.4.0">
  <name>Display Web Action for IBM MCE Cordova Plugin</name>
  <author>IBM MCE</author>
  <description>Display Web Action for IBM MCE Push Services</description>
  <keywords>mce</keywords>
  <license>Apache 2.0 License</license>
  <engines>
    <engine name="cordova" version=">=3.0" />
  </engines>
  <js-module src="MCEDisplayWebPlugin.js" name="MCEDisplayWebPlugin">
    <clobbers target="MCEDisplayWebPlugin" />
  </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MCEDisplayWebPlugin" >
                <param name="ios-package" value="MCEDisplayWebPlugin"/>
            </feature>
        </config-file>    
        <header-file src="src/ios/MCEDisplayWebPlugin.h" />
        <source-file src="src/ios/MCEDisplayWebPlugin.m" />
        <header-file src="src/ios/WebViewController.h" />
        <source-file src="src/ios/WebViewController.m" />
    </platform>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.ibm.mce.sdk.plugin.displayweb.DisplayWebViewActivity">
            </activity>            
        </config-file>
        <source-file src="src/android/ibm-mobile-push-android-sdk-plugin-displayweb-3.7.0.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/assets/mce/plugins/displayweb.json" target-dir="assets/mce/plugins" framework="false" />
        <source-file src="src/android/res/drawable-hdpi/ic_action_back.png" target-dir="res/drawable-hdpi" framework="false" />
        <source-file src="src/android/res/drawable-hdpi/ic_action_forward.png" target-dir="res/drawable-hdpi" framework="false" />
        <source-file src="src/android/res/drawable-mdpi/ic_action_back.png" target-dir="res/drawable-mdpi" framework="false" />
        <source-file src="src/android/res/drawable-mdpi/ic_action_forward.png" target-dir="res/drawable-mdpi" framework="false" />
        <source-file src="src/android/res/drawable-xhdpi/ic_action_back.png" target-dir="res/drawable-xhdpi" framework="false" />
        <source-file src="src/android/res/drawable-xhdpi/ic_action_forward.png" target-dir="res/drawable-xhdpi" framework="false" />
        <source-file src="src/android/res/drawable-xxhdpi/ic_action_back.png" target-dir="res/drawable-xxhdpi" framework="false" />
        <source-file src="src/android/res/drawable-xxhdpi/ic_action_forward.png" target-dir="res/drawable-xxhdpi" framework="false" />
        <source-file src="src/android/res/layout/activity_action_webview.xml" target-dir="res/layout" framework="false" />
        <source-file src="src/android/res/menu/menu_action_webview.xml" target-dir="res/menu" framework="false" />
        
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="action_back">Back</string>
            <string name="action_forward">Forward</string>
            <string name="action_done">Done</string>
        </config-file>

        <config-file target="res/values/dimens.xml" parent="/resources">
            <!-- Default screen margins, per the Android Design guidelines. -->
            <dimen name="activity_horizontal_margin">16dp</dimen>
            <dimen name="activity_vertical_margin">16dp</dimen>
        </config-file>

    </platform>
</plugin>