<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed Materials - Property of IBM
 5725E28, 5725I03
 © Copyright IBM Corp. 2011, 2015
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.xtify.mce.sdk.fcm"
version="3.6.2">
    <name>IBM MCE Cordova Plugin for FCM</name>
    <author>IBM MCE</author>
    <description>Allows Cordova applications to integrate with IBM MCE Push Services</description>
    <keywords>mce</keywords>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    <js-module src="MCEPluginFcm.js" name="MCEPluginFcm">
        <clobbers target="MCEPluginFcm" />
    </js-module>
    
    <platform name="android">
    	<hook src="scripts/after_prepare.js" type="after_prepare" />

        <framework src="com.google.firebase:firebase-messaging:+" />

        <config-file target="AndroidManifest.xml" parent="/manifest">

            <!-- C2D_MESSAGE is required for receiving GCM messages -->
            <permission
                android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />

            <!-- C2D_MESSAGE is required for receiving GCM messages -->
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
             
            <!-- c2dm.permission.RECEIVE is required for receiving GCM messages -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- MCE properties -->            
            <meta-data android:name="messagingService" android:value="fcm" />
            <meta-data android:name="mceSenderId" android:value="" />

            <!-- FCM Registration -->
            <service
                android:name="com.ibm.mce.sdk.fcm.FcmInstanceIdService">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                </intent-filter>
            </service>

            <!-- FCM Messages -->
            <service
                android:name="com.ibm.mce.sdk.fcm.FcmMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>	
        </config-file>
        
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="senderid"></string>
        </config-file>     
    </platform>
</plugin>
