<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed Materials - Property of IBM
 5725E28, 5725I03
 © Copyright IBM Corp. 2011, 2015
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.xtify.mce.sdk.snooze"
version="3.3.0.1">
  <name>Snooze Action for IBM MCE Cordova Plugin</name>
  <author>IBM MCE</author>
  <description>Snooze Action for IBM MCE Push Services</description>
  <keywords>mce</keywords>
  <license>Apache 2.0 License</license>
  <engines>
    <engine name="cordova" version=">=3.0" />
  </engines>
  <js-module src="MCESnoozePlugin.js" name="MCESnoozePlugin">
    <clobbers target="MCESnoozePlugin" />
  </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MCESnoozePlugin" >
                <param name="ios-package" value="MCESnoozePlugin"/>
            </feature>
        </config-file>    
        <header-file src="src/ios/MCESnoozePlugin.h" />
        <source-file src="src/ios/MCESnoozePlugin.m" />
    </platform>
    <platform name="android">
        <source-file src="src/android/ibm-mobile-push-android-sdk-plugin-snooze-3.6.5.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/assets/mce/plugins/snooze.json" target-dir="assets/mce/plugins" framework="false" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.ibm.mce.sdk.plugin.snooze.SnoozeIntentService" />
        </config-file>

    </platform>
</plugin>