/*
 * Licensed Materials - Property of IBM
 *
 * 5725E28, 5725I03
 *
 * © Copyright IBM Corp. 2015, 2016
 * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.rowhead {
    font-size: 18px;
    font-weight: bold;
}

#geofences .ui-header {
    position: relative;
}

#gps_button {
    padding: 5px !important;
}

#gps_refresh {
    padding: 5px !important;
}

#geofences li {
    border: none !important;
}

.status.delayed {
    color: gray;
}

.status.enabled {
    color: green;
}

.status.disabled {
    color: red;
}

#map {
    left: 0;
    right: 10px;
    bottom: 10px;
    top: 100px;
}

* {
    text-shadow: none !important;
}

.ui-body {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.ui-bar-inherit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

div.copyright {
    background-color: #2c3e50;
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 15px;
    padding: 10px;
    font-size: smaller;
    text-align: center;
}

#apiKey {
    font-size: smaller;
}

div.header {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 100px;
    height: 100px;
    margin-bottom: 30px;
}

.right,
.right input {
    text-align: right;
}

.right div {
    margin: 0;
    border: 0 !important;
}

.right input {
    padding: 0;
    padding-right: 10px;
}