<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed Materials - Property of IBM
 5725E28, 5725I03
 © Copyright IBM Corp. 2011, 2015
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.xtify.mce.sdk.geofence"
version="3.6.1">
    <name>IBM MCE Geofence Cordova Plugin</name>
    <author>IBM MCE</author>
    <description>Allows Cordova applications to integrate with IBM MCE Push Services</description>
    <keywords>mce</keywords>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    <js-module src="MCEGeofencePlugin.js" name="MCEGeofencePlugin">
        <clobbers target="MCEGeofencePlugin" />
    </js-module>
    <platform name="ios">
        <header-file src="src/ios/MCEGeofencePlugin.h" />
        <source-file src="src/ios/MCEGeofencePlugin.m" />
        <config-file target="config.xml" parent="/*">
            <feature name="MCEGeofencePlugin" >
                <param name="ios-package" value="MCEGeofencePlugin"/>
            </feature>
            <preference name="geofence" value="true" />
        </config-file>
    </platform>
    <platform name="android">
        <source-file src="src/android/ibm-mobile-push-android-cordova-geofence-3.7.1.2.8.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/ibm-mobile-push-android-js-geofence-3.7.1.2.8.jar" target-dir="libs" framework="false" />

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="MCEGeofencePlugin">
                <param name="android-package" value="com.ibm.mce.plugin.cordova.geofence.MceCordovaGeofencePlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- GeofenceIntentService is optional. It is used to receive geofence events. It is required only if locations are enabled and geofences are used -->
            <service android:name="com.ibm.mce.sdk.location.GeofenceIntentService" />
            <receiver android:name="com.ibm.mce.sdk.js.geofence.JsonMceBroadcastReceiver">
                <intent-filter>
                    <action android:name="com.ibm.mce.sdk.NOTIFIER" />
                </intent-filter>
            </receiver>
        </config-file>

    </platform>
</plugin>
